<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utils.ListenerClass"></listener>
	</listeners>
	<parameter name="url"
		value="https://adactinhotelapp.com/"></parameter>

	<test thread-count="5" name="ChromeTest">
		<parameter name="browser" value="Chrome"></parameter>
		<classes>
			<class name="tests.TC001_RegistrationTest" />
			<class name="tests.TC002_LoginPageTest"/>
			<class name="tests.TC003_SearchFunctionalityTest"/>
			<class name="tests.TC004_SelectHotelTest"/>
			<class name="tests.TC005_BookHotelTest"/>
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
